<header class='navigation' role='banner'>
  <div class='navigation-wrapper'>
    <a class='logo' href='/'>
      <img alt='ember-highcharts-mixin' src='images/logo.svg'>
      <span>Ember Highcharts Mixin</span>
    </a>

    <nav role='navigation'>
      <ul class='navigation-menu show' id='js-navigation-menu'>
        <li class='nav-link'>
          <a class='navigation-link' href='#features' id='feature-link'>Examples</a>
        </li>
        <li class='nav-link login-li'>
          <a href='http://github.com/seansellek/ember-highcharts-mixin'>View on GitHub</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<div class='intro'>
  <div class='tagline-container'>
    <h1 class='tagline'>Easily build Highcharts components for your Ember app.</h1>
    <div class='outer-container'>
      <img alt='ember-highcharts-mixin' src='images/screenshot.png'>
    </div>
  </div>
</div>
<div class='content-container'>
  <div class='outer-container'>
    <div class='for-left'>
      <h2 class='perfect-for' id='features'>See some examples:</h2>
    </div>
  </div>
  <div class='features-container'>
        <h3 class='feature-heading'>Your First Chart</h3>
        <iframe width="100%" height="500" src="//jsfiddle.net/yajvrext/embedded/js,html,result/dark/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
  </div>
  <div class='features-container'>
    <h3 class='feature-heading'>Dynamic Redrawing</h3>
        <iframe width="100%" height="500" src="//jsfiddle.net/flipandtwist/4704ezuv/2/embedded/js,html,result/dark/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
  </div>
  <footer class='footer' role='contentinfo'>
    <h1 class="tagline">Made with ♡ by <a href="http://seansellek.com">Sean Sellek</a></h1> 
  </footer>
</div>
